@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light -- default;
}

@plugin "daisyui/theme" {
  themes: light;
  default: true;
  --color-primary: #84d364;
  --color-secondary: #2ccc5c;
  --color-warning: #ea4744;
  
  --color-neutral: #eceae3;
  --color-info: #ECEAE3;
  --color-black: #000;


}

.rancho-regular {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-style: normal;
}
*{
  scroll-behavior: smooth;
}
.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    right:10px;
    padding: 30px;
    color: #000 !important;
    
   
    fill: black !important;
    stroke: black !important;
}